<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Joodle uses the camera to capture quick reference photos for tracing your doodle. Photos are not saved unless you enable saving to your album in Settings.</string>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.liyuxuan.joodle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>joodle</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>UIAppFonts</key>
	<array>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.dev.liyuxuan.joodle</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
			<key>NSUbiquitousContainerName</key>
			<string>Joodle</string>
		</dict>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.liyuxuan.joodle.backup</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
</dict>
</plist>
